.footer {
  position: relative;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  // min-height: 405px;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  margin-top: 1rem;
  overflow-y: hidden;
}
@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .right-wrapper {
    margin-top: 1rem;
  }
}

.left {
}
.right {
}
.right-wrapper {
  display: flex;
  li + li {
    margin-left: 2rem;
  }
}
