.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  // width: var(--default-layout-width);
  max-width: 100%;
  // padding: 0 var(--default-layout-horizontal-spacer);
  margin-top: var(--default-layout-header-height);
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  margin-right: 16px;
  margin-left: 16px;
  // width: 692px;
  // max-width: 692px;
  width: 892px;
  max-width: 100%;
  padding: 24px 0;
  position: relative;
  width: calc(100% - var(--default-sidebar-open-width) - 32px);
  aspect-ratio: 100 / 29;
}
