@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-theme {
    @apply border-slate-900/10  dark:border-slate-50/[0.06];
  }
  .bg-slate-white {
    @apply bg-white dark:bg-slate-700;
  }
  .bg-sky-hover {
    @apply hover:bg-sky-400 hover:text-white dark:hover:bg-sky-700 dark:hover:text-white;
  }
  .text-slate-white {
    @apply text-slate-700 dark:text-slate-300;
  }
  .text-primary {
    @apply hover:text-primary-500 dark:text-gray-100 dark:hover:text-gray-300;
  }
  .text-gray-primary {
    @apply text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300;
  }
  .icon-primary {
    @apply rounded-md hover:text-primary-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
  }
  .bg-indigo {
    @apply hover:bg-indigo-600 hover:text-white;
  }
  .bg-hover-primary {
    @apply hover:bg-primary-400 hover:text-slate-700;
  }
  .icon-indigo {
    @apply text-indigo-400;
  }
  .border-gray {
    @apply border-gray-200 dark:border-gray-800;
  }
  .divide-gray {
    @apply divide-gray-200 dark:divide-gray-800;
  }

  /* Tips: Dark:text -> 400 hover text -> 600
  Tips: Light:bg -> 300 hover bg -> 500 */
  .text-primary {
    @apply text-primary-400 hover:text-primary-500 dark:text-primary-300;
  }
  .text-primary-active {
    @apply text-primary-500 hover:text-primary-600 dark:text-primary-400;
  }
  .bg-primary-hover {
    @apply hover:bg-primary-300 hover:text-white dark:hover:bg-primary-500 dark:hover:text-slate-100;
  }

  .text-indigo-active {
    @apply text-indigo-500 hover:text-indigo-600 dark:text-indigo-400;
  }
  .bg-indigo-hover {
    @apply hover:bg-indigo-300 hover:text-white dark:hover:bg-indigo-500 dark:hover:text-slate-100;
  }
  .text-muted {
    @apply text-gray-500 dark:text-gray-600;
  }

  /* 
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241; 
  */
  .color-text-gray {
    @apply text-gray-900 dark:text-gray-100;
  }
  .color-text-gray-hover {
    @apply text-gray-900 dark:text-gray-100;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}

.slick-dots {
  bottom: -2rem !important;
}
