@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Min-Height */
  .comic-detail-detail-list-height {
    @apply min-h-[570px];
  }
  .comic-detail-section-styles {
    /* @apply drop-shadow-lg */
    @apply color-bg-secondary border border-dark-gray-border dark:border-dark-gray-dark;
  }
  .comic-detail-section-border {
    /* @apply drop-shadow-lg */
    @apply border border-dark-gray-border dark:border-dark-gray-dark;
  }
  .color-bg-comic-detail {
    @apply bg-dark-gray-lighter dark:bg-dark-blue-darker;
  }

  .color-hover-gray {
    @apply hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:bg-dark-blue-darker;
  }

  /* Theme Colors */
  .color-text-primary {
    @apply text-black dark:text-dark-gray;
  }
  .color-text-primary-hover {
    @apply dark:hover:text-dark-green-darker;
  }
  .color-text-primary-group-hover {
    @apply dark:group-hover:text-dark-green-darker;
  }
  .color-text-gray {
    @apply text-gray-900 dark:text-gray-200;
  }
  .color-text-gray-hover {
    @apply text-gray-900 dark:text-gray-100;
  }
  .color-bg-primary {
    @apply bg-white dark:bg-dark-blue-darker;
  }
  .color-border-primary {
    @apply border-gray-200 dark:!border-dark-blue;
  }
  .color-border-secondary {
    @apply border-gray-200 dark:border-dark-blue-light;
  }

  .color-bg-secondary {
    @apply bg-dark-gray-light dark:bg-dark-blue;
  }
  .color-card {
    @apply bg-white  dark:bg-dark-blue;
  }
  .color-card-hover {
    @apply hover:bg-gray-100  dark:hover:bg-dark-blue-light;
  }

  /* Custom */
  .border-theme {
    @apply border-slate-900/10  dark:border-slate-50/[0.1];
  }
  .bg-white-dark {
    @apply bg-white dark:bg-gray-800 dark:text-white;
  }
  .bg-gray {
    @apply bg-gray-200 dark:bg-gray-700;
  }
  .bg-slate-white {
    @apply bg-white dark:bg-slate-700;
  }
  .bg-sky-hover {
    @apply hover:bg-sky-400 hover:text-white dark:hover:bg-sky-700 dark:hover:text-white;
  }
  .text-slate-white {
    @apply text-slate-700 dark:text-slate-300;
  }
  .text-primary {
    @apply hover:text-primary-500 dark:text-gray-100 dark:hover:text-gray-300;
  }
  .text-gray-primary {
    @apply text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300;
  }
  .icon-primary {
    @apply rounded-md hover:text-primary-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;
  }
  .bg-indigo {
    @apply hover:bg-indigo-600 hover:text-white;
  }
  .bg-hover-primary {
    @apply hover:bg-primary-400 hover:text-slate-700;
  }
  .icon-indigo {
    @apply text-indigo-400;
  }
  .border-gray {
    @apply border-gray-200 dark:border-gray-800;
  }
  .divide-gray {
    @apply divide-gray-200 dark:divide-gray-800;
  }

  /* Tips: Dark:text -> 400 hover text -> 600
  Tips: Light:bg -> 300 hover bg -> 500 */
  .text-primary {
    @apply text-primary-400 hover:text-primary-500 dark:text-primary-300;
  }
  .text-primary-active {
    @apply text-primary-500 hover:text-primary-600 dark:text-primary-400;
  }
  .text-primary-hover {
    @apply hover:text-primary-500 dark:hover:text-primary-400;
  }
  .bg-primary-hover {
    @apply hover:bg-primary-300 hover:text-white dark:hover:bg-primary-500 dark:hover:text-slate-100;
  }

  .text-indigo-active {
    @apply text-indigo-500 hover:text-indigo-600 dark:text-indigo-400;
  }
  .bg-indigo-hover {
    @apply hover:bg-indigo-300 hover:text-white dark:hover:bg-indigo-500 dark:hover:text-slate-100;
  }
  .text-muted {
    @apply text-gray-500 dark:text-gray-600;
  }
  .text-title {
    @apply text-center text-xl font-semibold leading-9 tracking-tight sm:text-3xl sm:leading-10 md:leading-14;
  }
  .text-white-dark {
    @apply text-gray-700 dark:text-gray-100;
  }
  .text-gray {
    @apply text-gray-900 dark:text-gray-100;
  }

  .banner-height {
    @apply h-[321px];
  }
  /* 
    --color-text-base: 255, 255, 255;
    --color-text-muted: 199, 210, 254;
    --color-text-inverted: 79, 70, 229;
    --color-fill: 67, 56, 202;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 238, 242, 255;
    --color-button-muted: 99, 102, 241; 
  */
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.js-slider > .slide:not(:first-child) {
  display: none;
}
.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}

.slick-dots {
  bottom: -2rem !important;
}

@media (max-width: 640px) {
  .slick-list {
    padding: 0 20% 0 0 !important;
  }
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

/* .js-slider > .slide:not(:first-child) {
  display: none;
} */

/* ----------------------------------------------------- */
/* Comment Style */
/* ----------------------------------------------------- */
.error-msg {
  color: hsl(0, 100%, 67%);
}

.comments-title {
  margin-bottom: 0.5rem;
}

.comment-form-row {
  display: flex;
  gap: 0.5rem;
}

.message-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid hsl(235, 50%, 74%);
  line-height: 1.4;
}

.message-input:focus {
  border-color: hsl(235, 100%, 67%);
  outline: none;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.comment-stack {
  margin: 1rem 0;
}

.comment-stack:last-child {
  margin-bottom: 0;
}

.nested-comments {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.nested-comments-stack {
  display: flex;
}

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}

.hide {
  display: none;
}

.btn {
  --hue: 235;
  --color: hsl(var(--hue), 100%, 67%);
  padding: 0.5em 1em;
  background: var(--color);
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 0.75em;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.btn.icon-btn {
  background: none;
  color: var(--color);
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.mr-1 {
  margin-right: 0.25em;
}

.icon-btn:hover,
.icon-btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.icon-btn-active,
.icon-btn.danger {
  --hue: 0;
}

.icon-btn-active {
  position: relative;
}

.icon-btn-active::before {
  /* content: '\00D7';
  position: absolute;
  font-size: 0.75em;
  width: 1em;
  height: 1em;
  color: white;
  background-color: var(--color);
  border-radius: 50%;
  bottom: 0.1em;
  right: 0.1em; */
}

.comment {
  padding: 0.5rem;
  border: 1px solid hsl(235, 100%, 90%);
  border-radius: 0.5rem;
}

.comment .header {
  color: hsl(235, 50%, 67%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.75em;
}

.comment .header .name {
  font-weight: bold;
}

.comment .message {
  white-space: pre-wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.comment .footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.btn[disabled] {
  --color: hsl(var(--hue), 20%, 74%);
}
