.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  flex-direction: column;
  text-align: center;
  width: 100%;

  font-weight: 700;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;

  // prevent content jumping when opening sidebar
  span {
    flex-shrink: 0;
  }

  &--detail {
    flex-direction: row;
    align-items: center;

    .icon,
    .active-icon {
      width: var(--default-sidebar-width);
    }
    .title {
      font-size: 1.7rem;
      text-align: left;
      margin-top: 0.2rem;
    }
  }

  &.active {
    color: var(--primary);
    // background-color: var(--hover-background);

    .icon {
      display: none;
    }

    .active-icon {
      display: block;
    }
  }

  &:hover {
    background-color: var(--hover-background);
  }
}

.title {
  font-size: 1.3rem;
}

.icon,
.active-icon {
  display: block;
  width: var(--button-icon-width);
  height: var(--button-icon-height);
  > svg {
    width: var(--button-icon-width);
    height: var(--button-icon-height);
  }
}

.active-icon {
  display: none;
}
