.wrapper {
  display: flex;
  align-items: center;
  // padding: 6px 16px;
  cursor: pointer;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  &:hover {
    color: unset;
  }
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;

  &:hover {
    color: var(--primary);
  }
}

.check {
  margin-left: 6px;
  color: rgb(32, 213, 236);
}

.username {
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.5);
}

.chapter-wrapper {
  display: flex;
  align-items: center;
}
.chapter {
  display: "inherit";
  + .chapter {
    margin-left: 8px;
  }

  &:hover {
    color: var(--primary);
  }
}

// .chapter-span {
//   &:nth-child(n):before {
//     //C.01
//     content: "0";
//   }
// }
