//grid gap
$gap-horizontal: 20px;
$gap-vertical: $gap-horizontal;
$grid-columns: 12;

//mixins definition
@mixin grid {
    @supports (grid-area: auto) {
        display: grid;
        grid-column-gap: $gap-horizontal;
        grid-row-gap: $gap-vertical;
    }
}

@mixin gridLayout($cols...) {
    @supports (grid-area: auto) {
        grid-template-columns: repeat($grid-columns, 1fr);

        $i: 1;
        @each $col in $cols {
            > :nth-of-type(#{$i}) {
                grid-column-end: span nth($col, 1);
                @if length($col) > 1 {
                    grid-row-end: span nth($col, 2);
                }
            }
            $i: $i + 1;
        }
    }
}
