.nav {
    $this: &;
    height: $header-height + 1.5rem;
    background: var(--background-color);
    @include flexbox($direction: row, $alignItems: center, $wrap: wrap);

    &__logo-img {
        background-image: none;
        margin: 0 var(--space-sm) 0 var(--space-md);
    }

    &__checkbox {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }
      
    &__list {
        @include flexbox($direction: row);
        column-gap: var(--space-lg);
        text-transform: uppercase;

        a:active,
        a:focus,
        a:hover {
            background: var(--color-accent);
        }

        @include breakpoint(md) {
            position: absolute;
            padding-top: 125px;
            background: #ededed;
            /* wrap floats and margins */
            overflow: hidden; 
            text-align: center;
            /* to stop flickering of text in safari */
            -webkit-font-smoothing: antialiased;
            /* Hidden menu list at the top */
            transform: translate(0, -100%);
            transform-origin: 0% 0%;
            /* Force GPU use */
            will-change: transform;
        }
    }

    &__item {
        display: inline;
    
        /* Items width: (2 items in 1 row) */
        @include breakpoint(md) {
            float: left;
            width: 50%;
        }
    }
    
    &__item a {
        @include breakpoint(md) {
          display: block;
          padding: 0.75em;
          margin: 0.25em;
          background: #def;
        }
    }
    
    &--visible &__list {
        -webkit-transform: none;
        transform: none;
    }

    &--animatable &__list {
        // transition: all 130ms ease-in;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); 
    }
    &--visible &__animatable &__list {
        // transition: all 330ms ease-out;
        transition: transform 0.5s cubic-bezier(1.0,0.05,0.2,0.77); 
    }

    // Turn List into hamburger menu at medium viewport
    @include breakpoint(md) {
        height: $header-height;

        &__logo-img {
            width: 35px;
            height: 35px;
        }

        &__toggle {
            display: block;
            position: relative;
            order: 3;
            margin: 0 1em 0 auto;
            z-index: 1;
            
            -webkit-user-select: none;
            user-select: none;
        }
        /*
        * Just a quick hamburger
        */
        &__hamburger {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            
            background: var(--color-primary);
            border-radius: 3px;
            
            z-index: 1;
            
            transform-origin: 4px 0px;
            
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
        }
    
        &__hamburger:first-child
        {
            transform-origin: 0% 0%;
        }
    
        &__hamburger:nth-last-child(2)
        {
            transform-origin: 0% 100%;
        }
    
        /* 
        * Transform all the slices of hamburger
        * into a crossmark.
        */
        &__checkbox:checked ~ span
        {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #232323;
        }
    
        /*
        * But let's hide the middle one.
        */
        &__checkbox:checked ~ span:nth-last-child(3)
        {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
    
        /*
        * Ohyeah and the last one should go the other direction
        */
        &__checkbox:checked ~ span:nth-last-child(2)
        {
            transform: rotate(-45deg) translate(0, -1px);
        }
    }

    
}
