.input-container + .input-container {
  margin-top: 1rem;
}
.input {
  border-radius: 2px;
  background-color: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.12);
  padding-inline-start: 12px;
  color: rgb(22, 24, 35);
  line-height: 100%;
  outline: none;
  font-size: 16px;
  height: 44px;
  caret-color: rgb(254, 44, 85);
  width: 100%;
  padding-inline-end: unset;
}
.description-container {
  color: rgb(22, 24, 35);
  font-weight: 600;
  font-size: 15px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  .label-light {
    font-weight: 400;
    font-size: 1.4rem;
  }
}
