@import "normalize.css";

// Abstract files
@import "abstracts/_mixins";

// Fontello
// @import 'fontello';

// Vendor Files
// @import 'vendors/*';

// Core files
@import "core/_spacing";

// Components
// @import 'components/*';

// Layout
// @import 'layout/*';

// Sections
// @import 'sections/*';

// Pages
// @import 'pages/*';

:root {
  --primary: #fe2c55;
  --secondary: #8c94bf;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --light-color: #bbb;
  --border-color: #eaeaea;
  --light-color-hover: rgb(204, 204, 204);
  --hover-background: rgba(22, 24, 35, 0.03);

  --font-family: "Hind", sans-serif;

  /* // Default layout */
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;

  // Sidebar
  --default-sidebar-width: 74px;
  --default-sidebar-open-width: 200px;

  //Section
  --default-section-container: 1100px;

  // icon
  --button-icon-width: 30px;
  --button-icon-height: 30px;

  //breakpoint
  /* Extra small devices (phones, 600px and down) */
  --breakpoint-phone-below: 600px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  --breakpoint-tablets-sm-above: 600px;
  /* Medium devices (landscape tablets, 768px and up) */
  --breakpoint-tablets-lg-above: 768px;
  /* Large devices (laptops/desktops, 992px and up) */
  --breakpoint-laptops-sm-above: 992px;
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  --breakpoint-desktop-lg-above: 1200px;

  // animation
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;

  // Comic slider card
  --comic-slider-card-width: 265px;

  // Utility
  --base: 1.35; /* Handy multiplier for consistency across elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

/* // Scrollbar CSS */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

/* // Custom tippy tooltip */
.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: rgba(84, 84, 84, 0.92);
}

.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}

.tippy-content {
  padding: 8px 9px;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -8px;
}

ul {
  list-style-type: none;
}

.truncate-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.w-150 {
  width: 150px;
}

.white-text {
  color: var(--white);

  &:hover {
    text-decoration: underline;
    color: var(--white);
  }
}

.light-text {
  color: var(--light-color);

  &:hover {
    text-decoration: underline;
    color: var(--light-color-hover);
  }
}

.border-top {
  border-top: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.slick-slide img {
  margin: auto;
}
.slick-dots {
  margin-top: -1rem !important;
  position: relative !important;
}

.search-wrapper {
  margin: auto;
}

// Nav buttons left right
.left {
  margin-left: 10px;
}

.left,
.right {
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: var(--button-icon-width);
  height: var(--button-icon-height);
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

// Utility
.truncate-blur {
  max-height: calc(
    1.5rem * var(--base)
  ); /* Set a cut-off point for the content */
  overflow: hidden; /* Cut off the content */
  -webkit-mask: linear-gradient(#000 0 0) top/100%
      calc(100% - calc(1rem * var(--base) + 1px)) no-repeat,
    linear-gradient(to left, #0000, #000 80%) bottom / 100%
      calc(1rem * var(--base) + 1px) no-repeat;
}

.h2-line {
  max-height: calc(3.5rem * var(--base));
}
// /* If the amount of items is above 3 */
// /* Change the layout direction */
// .container > :nth-last-child(n + 3),
// .container > :nth-last-child(n + 3) ~ * {
//   flex-direction: column;
// }

// /* If the amount of items is above 5 */
// /* Change the layout direction to row */
// // .container > :nth-last-child(n + 5),
// // .container > :nth-last-child(n + 5) ~ * {
// //   flex-direction: row;
// // }

// /* And change the image height and color */
// .container > :nth-last-child(n + 3) .image,
// .container > :nth-last-child(n + 3) ~ * .image {
//   height: 120px;
//   background: salmon;
// }

// /* Demo decoration */
// .container {
//   display: flex;
//   width: 100%;
//   margin: 1em auto;
// }
// .mini-card {
//   display: flex;
//   width: 100%;
//   max-width: 100%;
//   margin: 1em;
//   border: 2px solid #eee;
//   border-radius: 8px;
//   overflow: hidden;
// }

// .image {
//   min-width: 150px;
//   background: turquoise;
// }

// .text {
//   font-size: 0.875em;
//   line-height: 1.55;
//   padding: 8px;
// }
