@import "normalize.css";

// Abstract files
@import "abstracts/_mixins";

// Fontello
// @import 'fontello';

// Vendor Files
// @import 'vendors/*';

// Core files
@import "core/_spacing";

// Components
// @import 'components/*';

// Layout
// @import "layout/_grid";

// Sections
// @import 'sections/*';

// Pages
// @import 'pages/*';

:root {
  --primary: #fe2c55;
  --secondary: #8c94bf;
  --black: #000;
  --white: #fff;
  --text-color: #3d3d3d;
  --text-danger: #dc3545 !important;
  --light-color: #bbb;
  --border-color: #eaeaea;
  --light-color-hover: rgb(204, 204, 204);
  --hover-background: rgba(22, 24, 35, 0.03);
  --background-secondary: #f5f5f5;
  --border-color: #e5e5e5;

  --font-family: "Hind", sans-serif;

  /* // Default layout */
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;

  // Sidebar
  --default-sidebar-width: 74px;
  --default-sidebar-open-width: 200px;

  //Section
  --default-section-container: 1100px;

  // icon
  --button-icon-width: 30px;
  --button-icon-height: 30px;

  //breakpoint
  /* Extra small devices (phones, 600px and down) */
  --breakpoint-phone-below: 600px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  --breakpoint-tablets-sm-above: 600px;
  /* Medium devices (landscape tablets, 768px and up) */
  --breakpoint-tablets-lg-above: 768px;
  /* Large devices (laptops/desktops, 992px and up) */
  --breakpoint-laptops-sm-above: 992px;
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  --breakpoint-desktop-lg-above: 1200px;

  // animation
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;

  // Comic slider card
  --comic-slider-card-width: 265px;

  // Utility
  --base: 1.35; /* Handy multiplier for consistency across elements */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  // overflow-y: overlay;
  overflow-x: hidden;
}

/* // Scrollbar CSS */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

.ico {
  width: 20px;
  height: 20px;
}

/* // Custom tippy tooltip */
.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: rgba(84, 84, 84, 0.92);
}

.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}

.tippy-content {
  padding: 8px 9px;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -8px;
}

ul {
  list-style-type: none;
}

.truncate-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.w-150 {
  width: 150px;
}

.white-text {
  color: var(--white);

  &:hover {
    text-decoration: underline;
    color: var(--white);
  }
}

.light-text {
  color: var(--light-color);

  &:hover {
    text-decoration: underline;
    color: var(--light-color-hover);
  }
}

.white-text {
  color: var(--white);

  &:hover {
    text-decoration: underline;
    color: var(--primary);
  }
}

.border-top {
  border-top: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.slick-slide img {
  margin: auto;
}
.slick-dots {
  margin-top: -1rem !important;
  position: relative !important;
}

@media (max-width: 500px) {
  .flex-hidden {
    flex: 0;
  }
}
// Nav buttons left right
.left {
  margin-left: 10px;
}

.left,
.right {
  align-items: center;
  padding: 7px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  // width: var(--button-icon-width);
  // height: var(--button-icon-height);
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

// Utility
.truncate-blur {
  max-height: calc(
    1.5rem * var(--base)
  ); /* Set a cut-off point for the content */
  overflow: hidden; /* Cut off the content */
  -webkit-mask: linear-gradient(#000 0 0) top/100%
      calc(100% - calc(1rem * var(--base) + 1px)) no-repeat,
    linear-gradient(to left, #0000, #000 80%) bottom / 100%
      calc(1rem * var(--base) + 1px) no-repeat;
}

.h2-line {
  max-height: calc(3.5rem * var(--base));
}

.d-none {
  display: none;
}

.background-secondary {
  background-color: var(--background-secondary);
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.card-hover:hover {
  background-color: var(--background-secondary);
}
.icon {
  width: var(--button-icon-width);
  height: var(--button-icon-height);
}
.svg {
  width: 22px;
  height: 31px;
}

// Comment Styles ------------
.error-msg {
  color: hsl(0, 100%, 67%);
}

.comments-title {
  margin-bottom: 0.5rem;
}

.comment-form-row {
  display: flex;
  gap: 0.5rem;
}

.message-input {
  flex-grow: 1;
  resize: none;
  height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: 2px solid hsl(235, 50%, 74%);
  line-height: 1.4;
}

.message-input:focus {
  border-color: hsl(235, 100%, 67%);
  outline: none;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.comment-stack {
  margin: 1rem 0;
}

.comment-stack:last-child {
  margin-bottom: 0;
}

.nested-comments {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.nested-comments-stack {
  display: flex;
}

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}

.hide {
  display: none;
}

.btn {
  --hue: 235;
  --color: hsl(var(--hue), 100%, 67%);
  padding: 0.5em 1em;
  background: var(--color);
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 0.75em;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.btn.icon-btn {
  background: none;
  color: var(--color);
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.mr-1 {
  margin-right: 0.25em;
}

.icon-btn:hover,
.icon-btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.icon-btn-active,
.icon-btn.danger {
  --hue: 0;
}

.icon-btn-active {
  position: relative;
}

.icon-btn-active::before {
  content: "\00D7";
  position: absolute;
  font-size: 0.75em;
  width: 1em;
  height: 1em;
  color: white;
  background-color: var(--color);
  border-radius: 50%;
  bottom: 0.1em;
  right: 0.1em;
}

.comment {
  padding: 0.5rem;
  border: 1px solid hsl(235, 100%, 90%);
  border-radius: 0.5rem;
}

.comment .header {
  color: hsl(235, 50%, 67%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 0.75em;
}

.comment .header .name {
  font-weight: bold;
}

.comment .message {
  white-space: pre-wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.comment .footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.btn[disabled] {
  --color: hsl(var(--hue), 20%, 74%);
}

// Modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 10px;
  // max-width: 500px;
  // width: 80%;
  padding: 2rem 2rem 0rem 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}
.modal-info {
  position: relative;
  .back-btn {
    position: absolute;
    left: -10px;
    bottom: 17px;
  }
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}
.modal-text {
  cursor: pointer;
  font-weight: 600;
  :hover {
    color: var(--white);
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      var(--primary);
  }
}
.login-btn {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto !important;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: var(--primary);
}

.back-btn {
  width: 13px;
  margin: 3px 22px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.text-danger {
  color: var(--text-danger);
}
