body {
  padding-top: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-slider {
  margin: 30px auto 50px;
  width: auto;
}

h3 {
  background: #00558b;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  margin: 10px;
  padding: 2%;
  position: relative;
}

.card {
  padding: 8px;
  position: relative;
  margin: 15px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  border-top: 6px solid #d8d8d8;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.card:hover {
  border-top: 6px solid #0080ad;
  cursor: pointer;
  transform: translateY(0px);
}
.card h4 {
  text-transform: uppercase;
  color: #3e4042;
}
.card p {
  line-height: 1.5;
}

.slick-prev {
  background: black;
}

.slick-next {
  background: black;
}

.slick-dots li {
  margin: 0 16px;
}

.slick-dots li button:before {
  content: " ";
  background: #d8d8d8;
  opacity: 1;
  height: 4px;
  width: 40px;
}

.slick-dots li.slick-active button:before {
  content: " ";
  background: #0080ad;
  opacity: 1;
  height: 4px;
  width: 40px;
}
