.section {
  margin: 0 2rem;
  + .section {
    margin-top: 3rem;
  }
}

.tripleLayoutGrid {
  .section__container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    // margin: var(--space);

    gap: var(--space);
    --space: 4rem;
    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;

      --space: 2rem;
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;

      --space: 1.5rem;
    }
  }

  @supports container(min-width: 550px) {
    .section__card {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: start;
    }
    .section__title a {
      margin-block-start: var(--gap);
    }
    .section__image {
      height: 100%;
    }
  }
}

.doubleLayoutGrid {
  .section__container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 0 15px;
    // margin: var(--space);

    // gap: var(--space);
    // --space: 2rem;
    @media (max-width: 850px) {
      grid-template-columns: 1fr 1fr;

      --space: 2rem;
    }
    @media (max-width: 750px) {
      grid-template-columns: 1fr;

      --space: 1.5rem;
    }
  }

  @supports container(min-width: 550px) {
    .section__card {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: start;
    }
    .section__title a {
      margin-block-start: var(--gap);
    }
    .section__image {
      height: 100%;
    }
  }
}

.section {
  $this: &;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__title {
    cursor: pointer;
    margin: 0;

    a {
      display: block;
      color: var(--white);
      text-decoration: none;
      font-size: clamp(1.2rem, 1.2rem + 1qi, 50px);

      margin-block-end: calc(var(--gap) / 2);
    }

    h2 {
      font-weight: 600;
      margin: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  &__nav {
    display: flex;
    padding: 10px;
  }

  &__image {
    width: 100%;
    height: 255px;
    opacity: 0.8;

    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}
.spacing {
  padding: 31px 20px 66px;
}
@media (max-width: 1200px) {
  .container {
    margin: 1rem 2rem;
  }
}
.comments-box {
  background-color: var(--white);
}
